extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9

        //- Add your name.
        h1 Kpow

        //- Feel free personalize the title below
        p.lead.text-light
          | Digital Architect - Leader - Maker.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a technologist and leader with a relentless passion for working with my teams designing solutions 
            | to overcome technical obstacles. I continually challenge myself and coworkers to make technology work 
            | harder and smarter for clients. Pushing for innovation, Crafting dynamic experiences, robust design systems, 
            | efficient development practices, and continuous learning are among my core principles. 
            | Also, I am a donut connoisseur. 
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li Javascript
          li CSS
          li React.js
          li Gatsby.js 
          li Express.js
          li Shopify Develpoment
        h6 Contact Info

        //- Add your own contact info
        ul
          li(class='phone') 00111001 00110001 00110111 00101101 00110111 00110101 00110100 00101101 00111001 00110010 00110000 00110011
          li kpow@kpow.com

        //- Add URLs to the hrefs below to link to your social media accounts.
    .button-nav   
      a.button.expanded(href='https://www.linkedin.com/in/kevin-power-054b8827/') LinkedIn
      a.button.expanded(href='https://github.com/kpow') GitHub
      a.button.expanded(href='https://kpow.com') Site

